<form action="users/login" method="POST">
 <fieldset>
  <legend>登陆页:</legend>
  <img src="/images/logo.png" class="logo"/><br><br>
  姓名: <input type="text" name="name"><br><br>
  密码: <input type="text" name="password"><br><br>
  <button type="submit">登陆</button>
  <a href="/users/register"><button type="button">注册</button></a>
 </fieldset>
</form>