<form action="/users/register" method="POST">
 <fieldset>
  <legend>注册页:</legend>
  <img src="/images/logo.png" class="logo"/><br><br>
  姓名: <input type="text" value="{{name}}" name="name"><br><br>
  邮箱: <input type="text" value="{{email}}" name="email"><br><br>
  密码: <input type="text" value="{{password}}" name="password"><br><br>
  确认密码: <input type="text" value="{{password2}}" name="password2"><br><br>
  <button type="submit">注册</button>
 </fieldset>
</form>